<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="index.css" rel="stylesheet"/>
<title>Edit Profile</title>
</head>

<body>
<div class="profile-nav-clerk" style="padding-top: 50px">
	<h1>Edit Profile</h1>
	<form name="f" action="/clerkProfile" method="POST">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" value=""></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
</div>
</body>

</html>