<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="index.css" rel="stylesheet"/>
<title>Home</title>
</head>
<body>

<h1 id="title">Video Rental Shop</h1>
<p id="title-caption">Welcome to the Video Rental Shop. Rent your favorite movies, television shows, and video games all right here.</p>

<div class="table">
	<table>
		<tr>
			<th>Customer</th>
			<th>Clerk</th>
		</tr>
		<tr>
			<td><a th:href="@{/loginCustomer}">Login</a></td>
			<td><a th:href="@{/loginClerk}">Login</a></td>
		</tr>
		<tr>
			<td><a th:href="@{/signupCustomer}">Signup</a></td>
			<td><a th:href="@{/signupClerk}">Signup</a></td>
		</tr>
	
	</table>
</div>

</body>
</html>